.navbar-style {
    font-size: 15px;
    right: 0;
    color: white;
    background-color: rgba(0,0,0,0.8);

}
.navbar-dark .navbar-toggler{
    border: none;
    outline: none;
}
.navbar-dark .navbar-nav>.active>a {
    border-bottom: 3px solid #78c475;
}
/*Remove bottom border when navbar collapses*/
@media (max-width: 992px) {
    .navbar-dark .navbar-nav>.active>a {
        border: none;
    }
}

#brand {
    color: #78c475;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}
#brand .no-font-style{
    font-style: normal;
}
