/********************************************************************
*                           General Styles
********************************************************************/
*{
    box-sizing: border-box;
}
body, html{
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8em;
    color: #333;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

a:hover{
    color: inherit;
    text-decoration: none;
}
.img-text{
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hide{
    display: none;
}
/********************************************************************
*                           Navbar Styles
********************************************************************/
.navbar-style {
    font-size: 15px;
    color: white;
}
.navbar-dark .navbar-toggler{
    border: none;
    outline: none;
}
.navbar-dark .navbar-nav >.active > a {
    border-bottom: 3px solid #78c475;
}
.navbar-nav > li {
    padding: 0 15px;
}

/*Reference https://codepen.io/Webspicer/pen/QwvRzM?q=navbar&limit=all&type=type-pens*/
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
    border-bottom: 0;
    transition: background-color .5s ease 0s;
}
.opaque-navbar.opaque {
    background-color: black;
    transition: background-color .5s ease 0s;
}
/*Remove bottom border when navbar collapses and
 add styles*/
@media (max-width: 992px) {
    .navbar-dark .navbar-nav>.active> a,
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav>.active> a:hover {
        border: none;
        font-weight: bold;
        color: #78c475;
    }
    .navbar-dark .navbar-nav > li:last-of-type {
        display: none;
    }
}
/*Fix Navbar Responsiveness*/
@media (max-width: 1110px){
    .navbar-style {
        font-size: 12px;
    }
    .navbar-brand #brand{
        font-size: 20px;
    }
}
#brand {
    color: #78c475;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    padding-left: 30px;
}
#brand .no-font-style{
    font-style: normal;
}

/********************************************************************
*                           Header Styles
********************************************************************/
.intro{
    position: relative;
    text-align: center;
    color: #fff;
    background-image: url(../imgs/headerImg.png);
    background-attachment: fixed; /*Parallax effect*/
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}
.first-heading{
    font-size: 40px;
}
.second-heading{
    font-size: 60px;
}
.header-text {
    padding-top: 300px;
    padding-bottom: 150px;
}
@media screen and (max-width: 768px) {
    .header-text {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    .first-heading{
        font-size: 20px;
    }
    .second-heading{
        font-size: 30px;
    }
}
.estimate-button{
    padding: 30px 0;
}
.estimate{
    border: 3px double white;
    border-radius: 20px;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}
.estimate:hover, .estimate:focus{
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}
/***********************************************************
*                 Header Text-animations
* The following animations are variations of animations
* available from https://github.com/daneden/animate.css
***********************************************************/
.bounceIn {
    animation-name: bounceIn;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.fadeIn{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(.7, .7, .7);
    }
    40% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.8, .8, .8);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}


@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -8px, 0);
    }

    90% {
        transform: translate3d(0,-4px,0);
    }
}

.arrow{
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}
.arrow i{
    font-size: 20px;
}
/********************************************************************
*                           Content Styles
********************************************************************/
.section{
    text-align: center;
    padding: 50px 80px;
    font-size: 20px;
}
.row{
    text-align: center;
    align-content: center;
}

.section-light{
    background-color: #f4f4f4;
    color: #333;
}
.section-dark{
    background-color: #222;
    color: #fff;
}
/*Icons*/
.section > div > div > i{
    font-size: 50px;
    padding-bottom: 15px;
    color: #78c475;
}
.row > div > p{
    padding: 15px 20px;
}

.section-heading h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}
.section-heading h2::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 50px;
    margin-left: -25px;
    height: 5px;
    left: 50%;
    background: #78c475;;
}
/********************************************************************
*                           Services Styles
********************************************************************/
.services >.row > div{
    padding: 30px;
}
.bathroom, .kitchen, .addition, .deck{
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
}
.new-construction{
    background-image: url('../imgs/cabin.png');
}
.bathroom{
    background-image: url('../imgs/bathroom.jpg');
}
.kitchen{
    background-image: url('../imgs/kitchen.jpg');
}
.addition{
    background-image: url('../imgs/addition.jpg');
}
.deck{
    background-image: url('../imgs/wood.jpeg');
}
.transparent{
    background-color: rgba(0,0,0,0.5);
}

/********************************************************************
*                           Stats Styles
********************************************************************/
.stats{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

/********************************************************************
*                           About Styles
********************************************************************/
.about{
    background-image: url('../imgs/plans.jpeg');
    background-size: cover;
}
.border{
    background-color: #111;
    color: white;
    padding: 20px;
}
.bio {
    background-color: #222;
    color: white;
    margin: 30px;
    padding: 1.5rem 2rem;
    border-radius: 10px;
}
.bioHeader{
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
    color: #78c475;
}
/*Hide slogan on smaller devices*/
@media(max-width: 568px){
    .slogan{
        display: none;
    }
}
@media only screen and (min-width : 568px) and (max-width : 1024px){
    .slogan{
        display: none;
    }
}

/********************************************************************
*                           Gallery Styles
********************************************************************/
.gallery{
    text-align: center;
}
.gallery-thumbnail{
    min-width: 250px;
    max-width: 400px;
    margin: 10px;
    padding: 0;
    box-shadow:-3px 5px 15px #000;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition-duration: 200ms;
}
.gallery-thumbnail img {
    width: 100%;
    height: 250px;
    margin: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition-duration:300ms;
}
.gallery-thumbnail figure {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #292929;
    margin: 0;
}
.gallery-thumbnail figcaption a{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 7px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.gallery-thumbnail figcaption a:hover, .gallery-thumbnail figcaption a:focus{
    background-color: rgba(120, 196, 117, 0.5);
}

/********************************************************************
*                           Contact Styles
* Inspired by Traversy Media's Contact Form Grid CSS Video
*  https://www.youtube.com/watch?v=Sb5qOa3R4hY
********************************************************************/
.contact{
    background-color: #78c475;
    color: #485e74;
    line-height: 1.6;
    font-family: Lato, sans-serif;
    padding: 1em;
    font-size: 18px;
}
.contact > .container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.company-info > ul{
    list-style: none;
    padding:0;
}

.contact .container #brand{
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.contact .container #brand span{
    font-weight: 700;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    text-align: left;
}

.wrapper > *{
    padding: 1em;
}

.company-info{
    background-color: #c5f4c3;
    text-align: center;
}

.company-info h3, .company-info ul{
    margin: 0 0 1rem 0;
}

.contact-form{
    background: #f9feff;
}

.contact-form form div p{
    margin: 0;
}

.contact-form form button, .contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #87F37F;
}
.contact-form form button{
    background-color: #87F37F;
    border: 0;
    text-transform: uppercase;
    transition: background-color 0.5s ease-out;
}

.contact-form form button:hover, .contact-form form button:focus{
    background-color: #65b95d;
    color: white;
    outline: none;
    transition: background-color 0.5s ease-out;
}

/*For large screens*/
@media(min-width: 768px){
    .company-info h3, .company-info ul{
        text-align: left;
    }
}

footer{
    text-align: center;
    font-size: 10px;
}